body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: black;
    /* overflow: hidden; */
}


.bg-container {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login {
    background-color: #007bff;
    width: 50%;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Form Login */

 .header {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1565932887479-b18108f07ffd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.form-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; 
}

 label, input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; 
    margin-bottom: 0.5rem;
    width: 100%;
}

.label-pass{
    display: block;
    margin-bottom: 2dvh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff; 
}

.btn-primary{
    width: 10rem;
    padding: 10px;
    font-size: 16px;
}


.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}




/* Home/Dashboard */



.navbar-brand {
    font-family:Qwitcher Grypen;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover{
    color: rgb(243, 241, 241);
}

.nav-link{
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    z-index: 1;
}

.nav-link:hover{
    color: rgb(255, 255, 255);
}

.nav-link::after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #cf4e34;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

.nav-link:hover::after{
    opacity: 1;
    visibility: visible;
    height: 100%;
    transition: 0.5s;
    border-radius: 20%;
}


.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    margin-right: -35px;
    outline: none;
    border: 2px solid rgb(199, 0, 103);
}

.lora{
    font-family: lora;
    font-weight: 700;
}

.btn0{
    height: 40px;
    width: 80px;
    outline: none;
    border: none;
    background: red;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}


.main h1 {
    font-size: 4rem;
    font-weight: 700;
}

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background: red;
    color: rgb(0, 0, 0);
    font-size: 700;
    border-radius: 60px;
}
.btn1:hover {
    background-color: aliceblue;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 2px -2px 0px 8px rgba(255, 130, 130, 0.64);
    -webkit-box-shadow: 2px -2px 0px 8px rgba(255, 77, 77, 0.64);
    -moz-box-shadow: 2px -2px 0px 8px rgba(255, 133, 133, 0.64);
    transition: 0.5s;
}


h1{
    font-weight: 700;
}


.banner h1 {
    font-family: lora;
    color: black;
}

.contact-section {
    padding: 60px 0;
}
.contact-section h2 {
    font-size: 36px;
    font-weight: bold;
}
.contact-section p {
    font-size: 18px;
    margin-bottom: 10px;
}
.contact-section .form-group input,
.contact-section .form-group textarea {
    border-radius: 0;
    height: 45px;
}
.contact-section textarea {
    height: 100px;
}
.contact-info {
    margin-bottom: 30px;
}
.contact-info h5 {
    font-weight: bold;
    margin-bottom: 15px;
}